.card__image{
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
}

.card__title{
  color: rgba(33, 33, 33, 1);
  max-width: 190px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
}

.card__like-button{
  background-image: url(../images/Like\ Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .card__image{
    height: 288px;
    width: 288px;
    margin: auto;
  }

  .card__content{
    max-width: 288px;
    justify-content: center;
  }

  .card__title{
    font-size: 16px;
    line-height: 16px;
    width: 95px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .footer{
    padding: 0 20px;
  }

}